# Converting SAS to CSV

This is a quick notebook to conver the SAS data files that hold the TEL data to CSV.  Once this occurs, we can merge these data with the Reuter's debt data.

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sas7bdat import SAS7BDAT

Let's take a look at the files...

In [4]:
files=!ls ../debt_data/*.sas7bdat
files

['../debt_data/co_pums11.sas7bdat',
 '../debt_data/costat12.sas7bdat',
 '../debt_data/tel_cl_jm.sas7bdat']

Supposedly we can read them right into pandas DFs.

In [5]:
#Create container for each set
df_list=[]

#For each file...
for file_in in files:
    #...create a sas7bdat object...
    with SAS7BDAT(file_in) as f:
        #...and throw a DF version in df_list
        df_list.append(f.to_data_frame())

[costat12.sas7bdat] column count mismatch
WARNING:../debt_data/costat12.sas7bdat:column count mismatch

Just what is contained in these guys?

In [6]:
for df in df_list:
    print df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28778 entries, 0 to 28777
Data columns (total 41 columns):
STCOU         28778 non-null object
POP_TH18      28778 non-null float64
POP_OV65      28778 non-null float64
TOT_EMP       28778 non-null float64
MFG_EMP       28778 non-null float64
RETL_EMP      28778 non-null float64
T_PUB_SCH     28778 non-null float64
PUB_SCHL      28778 non-null float64
PVT_SCHL      28778 non-null float64
HSLD_PERS     28778 non-null float64
HSG_UNITS     28778 non-null float64
CH_HS_UNT     28778 non-null float64
PRE_1940      28778 non-null float64
VACANT        28778 non-null float64
MDHOMEVAL     28778 non-null float64
MED_INC       28778 non-null float64
PC_INC        28778 non-null float64
LANDAREA      28778 non-null float64
GEN_REV       28778 non-null float64
IGR_ST        28778 non-null float64
TAX_REV       28778 non-null float64
PT_REV        28778 non-null float64
D_GEN_EXP     28778 non-null float64
PC_GEN_EXP    28778 non-null float64
RES_POP       28778 non-null float64
PERS_POVT     28778 non-null float64
SS_PERS       28778 non-null float64
SS_PMT        28778 non-null float64
YEAR          28778 non-null float64
POVT_PCT      28772 non-null float64
FIPSST        28778 non-null float64
FIPSCO        28778 non-null float64
ST_MED_H_V    28769 non-null float64
ST_MED_INC    28769 non-null float64
ST_PC_INC     28769 non-null float64
ST_L_GREV     28769 non-null float64
ST_IGR_ST     28769 non-null float64
ST_L_TAX      28769 non-null float64
ST_PT_REV     28769 non-null float64
ST_L_EXP      28769 non-null float64
ST_P_LEXP     28769 non-null float64
dtypes: float64(40), object(1)
memory usage: 9.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3198 entries, 0 to 3197
Columns: 13300 entries, Areaname to PVY820209D
dtypes: float64(13298), object(2)
memory usage: 324.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 663 entries, 0 to 662
Columns: 156 entries, YEAR to UH300_UH150
dtypes: float64(153), object(3)
memory usage: 813.2+ KB
None

From Dan's text, it sounds like we want the first DF (which contains selected variables from COStats and PUMS sets) and the third (which contains TEL-related variables).  Do all of these DFs have year and county variables?

In [7]:
for i,df in enumerate(df_list):
    print i,'|','YEAR' in df.columns
    print i,'|','STCOU' in df.columns

0 | True
0 | True
1 | False
1 | True
2 | True
2 | False

It would appear only the first does.  Can the third be effectively merged on FIPS codes?

In [8]:
print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR']].head()
print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR']].tail()

   FIPSST  FIPSCO  YEAR
0       1       3  1990
1       1       3  2000
2       1       3  2001
3       1       3  2002
4       1       3  2003
     FIPSST  FIPSCO  YEAR
658      56      21  2007
659      56      21  2008
660      56      21  2009
661      56      21  2010
662      56      21  2011

FIPS codes are available in the third set.  How are they formatted in the first?

In [9]:
print df_list[0][['YEAR','STCOU']].head()

   YEAR  STCOU
0  1990  00000
1  1990  01000
2  1990  01001
3  1990  01003
4  1990  01005

We can define a new variable in the third set that captures the zero padded versions of `FIPSST` and `FIPSCO` in one variable called `STCOU`.

In [10]:
#Define consolidated FIPS variable
df_list[2]['STCOU']=df_list[2]['FIPSST'].apply(lambda x: str(int(x)).zfill(2))+\
                    df_list[2]['FIPSCO'].apply(lambda x: str(int(x)).zfill(3))

print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR','STCOU']].head()
print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR','STCOU']].tail()

   FIPSST  FIPSCO  YEAR  STCOU
0       1       3  1990  01003
1       1       3  2000  01003
2       1       3  2001  01003
3       1       3  2002  01003
4       1       3  2003  01003
     FIPSST  FIPSCO  YEAR  STCOU
658      56      21  2007  56021
659      56      21  2008  56021
660      56      21  2009  56021
661      56      21  2010  56021
662      56      21  2011  56021

We want to join the third set to the first.

In [11]:
#Capture sets
first=df_list[0].set_index(['YEAR','STCOU'])
third=df_list[2].set_index(['YEAR','STCOU'])

#Sort indices
first.sortlevel(0,inplace=True)
third.sortlevel(0,inplace=True)

#Join sets together
data=first.join(third,rsuffix='_TEL')

data.head().T

YEAR                      1990
STCOU                    00000     01000     01001        01003     01005
POP_TH18          6.360443e+07   1058788     10098        25533      7464
POP_OV65          3.124183e+07    522989      3372        14879      3726
TOT_EMP           1.393809e+08   2061101     11471        40809     12163
MFG_EMP            1.96942e+07    396248      2350         5586      3698
RETL_EMP           2.28855e+07    321969      2163         8007      1577
T_PUB_SCH          4.07376e+07    728252      6847        17054      5156
PUB_SCHL          3.837969e+07    680875      6567        15507      4848
PVT_SCHL               4187099     57284       604         1761       466
HSLD_PERS                 2.63      2.62      2.88         2.62       2.7
HSG_UNITS         1.022637e+08   1670379     12732        50933     10705
CH_HS_UNT                 15.6      13.8      16.1         53.1      14.8
PRE_1940           1.88325e+07    155557       782         3050      1390
VACANT            1.031627e+07    163589       906        13889      1487
MDHOMEVAL                79100     53700     59200        64200     41400
MED_INC                  30056     23597     28337        25712     19389
PC_INC                   14420     11486     11182        12275      9515
LANDAREA               3536342  50750.23    596.01      1596.53       885
GEN_REV           4.115841e+08   4453189     29504        90613     21415
IGR_ST            1.368688e+08   1499474     13444        30831     12048
TAX_REV           1.582935e+08   1237460      7410        24425      5126
PT_REV            1.165025e+08    437295      1728        11424      1655
D_GEN_EXP         3.920146e+08   4307264     24741       100654     21178
PC_GEN_EXP                1618      1073       744         1080       844
RES_POP           2.487099e+08   4040587     34222        98280     25417
PERS_POVT         3.174286e+07    723614      5324        13947      6244
SS_PERS           3.890197e+07    708711      4775        18985      4590
SS_PMT            2.136416e+07    344812      2255         9624      1966
POVT_PCT              12.76301  17.90864  15.55724     14.19109  24.56624
FIPSST                       0         1         1            1         1
FIPSCO                       0         0         1            3         5
...                        ...       ...       ...          ...       ...
_62Health_Social           NaN       NaN       NaN         5674       NaN
_71Arts_Rec                NaN       NaN       NaN         1004       NaN
_72Hotel_Food              NaN       NaN       NaN         7508       NaN
_81OtherServices           NaN       NaN       NaN         2521       NaN
_99Unclassified            NaN       NaN       NaN           12       NaN
SCHENROL_2000              NaN       NaN       NaN        23681       NaN
PC_SCHENROL                NaN       NaN       NaN    0.1686501       NaN
Y20061                     NaN       NaN       NaN            1       NaN
M_P_TAX06                  NaN       NaN       NaN          396       NaN
M_V_OOH06                  NaN       NaN       NaN       167200       NaN
RATE06                     NaN       NaN       NaN  0.002368421       NaN
M_H_INC06                  NaN       NaN       NaN        49451       NaN
BURDEN06                   NaN       NaN       NaN  0.008007927       NaN
SUMLEV                     NaN       NaN       NaN           50       NaN
M_V_OOH99                  NaN       NaN       NaN       122500       NaN
M_H_INC99                  NaN       NaN       NaN        43965       NaN
M_P_TAX99                  NaN       NaN       NaN          359       NaN
BURDEN99                   NaN       NaN       NaN  0.008165586       NaN
RATE99                     NaN       NaN       NaN  0.002930612       NaN
CV_99BURDEN                NaN       NaN       NaN     17.86031       NaN
N_COUNTIES                 NaN       NaN       NaN           67       NaN
NAME                       NaN       NaN       NaN      Alabama       NaN
UH_70K                     NaN       NaN       NaN        0.519       NaN
UH_150K                    NaN       NaN       NaN        0.613       NaN
UH_300K                    NaN       NaN       NaN          NaN       NaN
UC_1M                      NaN       NaN       NaN         1.39       NaN
UI_1M                      NaN       NaN       NaN        1.112       NaN
UI_25M                     NaN       NaN       NaN          NaN       NaN
UH150_UH70                 NaN       NaN       NaN     1.181118       NaN
UH300_UH150                NaN       NaN       NaN          NaN       NaN

[194 rows x 5 columns]

In [13]:
print len(data.columns)
print sorted(data.columns)

194
[u'ACQ_ValAss', u'ASMT_L', u'ASMT_L2', u'ASMT_L3', u'Area', u'BOTH', u'BURDEN05', u'BURDEN06', u'BURDEN99', u'CB', u'CB_E', u'CB_E2', u'CB_E3', u'CB_E4', u'CB_G', u'CB_G2', u'CB_share', u'CFDISC_L', u'CGEXP_L', u'CH_HS_UNT', u'CLEVY_L', u'CLEVY_L2', u'CLEVY_L3', u'CLEVY_L4', u'CRATE_L', u'CRATE_L2', u'CREVU_L', u'CV_99BURDEN', u'County', u'D_GEN_EXP', u'Def', u'Density', u'Dillon_all', u'EAST', u'EDU_MAND', u'EmptoResPop', u'FFDISC_L', u'FIPSCO', u'FIPSCO_TEL', u'FIPSST', u'FIPSST_TEL', u'GEN_REV', u'GEXP_L', u'GL', u'GP_GEXP', u'GP_LEVY', u'GP_LMT', u'GP_RATE', u'GP_REVU', u'GST', u'HOME_STEAD', u'HOME_STEAD2', u'HOME_STEAD3', u'HSG_UNITS', u'HSLD_PERS', u'IGR', u'IGR_ST', u'IIT', u'LANDAREA', u'LEVY_L', u'LIMITS', u'LIT', u'LST', u'MDHOMEVAL', u'ME', u'MED_INC', u'MFDISC_L', u'MFG_EMP', u'MGEXP_L', u'MGEXP_L2', u'MIDDLE', u'MLEVY_L', u'MLEVY_L2', u'MLEVY_L3', u'MLEVY_L4', u'MRATE_L', u'MRATE_L2', u'MREVU_L', u'M_H_INC05', u'M_H_INC06', u'M_H_INC99', u'M_P_TAX05', u'M_P_TAX06', u'M_P_TAX99', u'M_VOOH05', u'M_V_OOH06', u'M_V_OOH99', u'MfgEmpto_TotEmp', u'NAME', u'NE', u'N_COUNTIES', u'P65__05', u'PC_GEN_EXP', u'PC_INC', u'PC_SCHENROL', u'PERS_POVT', u'PL', u'POP_OV65', u'POP_TH18', u'POVT_PCT', u'PRE_1940', u'PT_REV', u'PUB_SCHL', u'PVT_SCHL', u'Pop_05', u'Popgrow2000_05', u'RATE05', u'RATE06', u'RATE99', u'RATE_L', u'RATE_L2', u'RES_POP', u'RETL_EMP', u'REVU_L', u'RM', u'Rate_ch_05_06', u'RetWhoEmptoTotEmp', u'SCHENROL_2000', u'SC_LMT', u'SE', u'SFDISC_L', u'SGEXP_L', u'SGEXP_L2', u'SLEVY_L', u'SLEVY_L2', u'SLEVY_L3', u'SLEVY_L4', u'SOUTH', u'SOUTH_1', u'SPC_RATE', u'SPT', u'SRATE_L', u'SRATE_L2', u'SREVU_L', u'SS_PERS', u'SS_PMT', u'ST_IGR_ST', u'ST_L_EXP', u'ST_L_GREV', u'ST_L_TAX', u'ST_MED_H_V', u'ST_MED_INC', u'ST_PC_INC', u'ST_PT_REV', u'ST_P_LEXP', u'SUMLEV', u'SW', u'State', u'TAX_REV', u'TOT_EMP', u'TREND', u'TYPE1', u'TYPE2', u'TYPE2_Y', u'T_PUB_SCH', u'TnT', u'Tot_Emp', u'UC_1M', u'UC_UH150', u'UH150_UH70', u'UH300_UH150', u'UH300_UH70', u'UH_150K', u'UH_300K', u'UH_70K', u'UI_1M', u'UI_25M', u'UI_UH150', u'VACANT', u'VAM', u'VAM_POP', u'VAmanuf_2002', u'Y2006', u'Y20061', u'_11Forest_Fish', u'_21Mining', u'_22Utilities', u'_23Construction', u'_31Manuf', u'_42Wholesale', u'_44Retail', u'_48Trans_Wharehouse', u'_51Information', u'_52Fin_Insurance', u'_53RealEstate', u'_54_Prof_Sci_Tec', u'_55Managment', u'_56Adm_Support_Waste', u'_61Education', u'_62Health_Social', u'_71Arts_Rec', u'_72Hotel_Food', u'_81OtherServices', u'_99Unclassified']

Ok, let's write this to disk.

In [14]:
data.to_csv('tel_data.csv')