# Converting SAS to CSV

This is a quick notebook to conver the SAS data files that hold the TEL data to CSV.  Once this occurs, we can merge these data with the Reuter's debt data.

In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sas7bdat import SAS7BDAT

Let's take a look at the files...

In [8]:
files=!ls ../../debt_data/*.sas7bdat
files

['../../debt_data/co_pums11.sas7bdat',
 '../../debt_data/costat12.sas7bdat',
 '../../debt_data/tel_cl_jm.sas7bdat']

Supposedly we can read them right into pandas DFs.

In [9]:
#Create container for each set
df_list=[]

#For each file...
for file_in in files:
    #...create a sas7bdat object...
    with SAS7BDAT(file_in) as f:
        #...and throw a DF version in df_list
        df_list.append(f.to_data_frame())

[costat12.sas7bdat] column count mismatch
WARNING:../../debt_data/costat12.sas7bdat:column count mismatch

Just what is contained in these guys?

In [10]:
for df in df_list:
    print df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28778 entries, 0 to 28777
Data columns (total 41 columns):
STCOU         28778 non-null object
POP_TH18      28778 non-null float64
POP_OV65      28778 non-null float64
TOT_EMP       28778 non-null float64
MFG_EMP       28778 non-null float64
RETL_EMP      28778 non-null float64
T_PUB_SCH     28778 non-null float64
PUB_SCHL      28778 non-null float64
PVT_SCHL      28778 non-null float64
HSLD_PERS     28778 non-null float64
HSG_UNITS     28778 non-null float64
CH_HS_UNT     28778 non-null float64
PRE_1940      28778 non-null float64
VACANT        28778 non-null float64
MDHOMEVAL     28778 non-null float64
MED_INC       28778 non-null float64
PC_INC        28778 non-null float64
LANDAREA      28778 non-null float64
GEN_REV       28778 non-null float64
IGR_ST        28778 non-null float64
TAX_REV       28778 non-null float64
PT_REV        28778 non-null float64
D_GEN_EXP     28778 non-null float64
PC_GEN_EXP    28778 non-null float64
RES_POP       28778 non-null float64
PERS_POVT     28778 non-null float64
SS_PERS       28778 non-null float64
SS_PMT        28778 non-null float64
YEAR          28778 non-null float64
POVT_PCT      28772 non-null float64
FIPSST        28778 non-null float64
FIPSCO        28778 non-null float64
ST_MED_H_V    28769 non-null float64
ST_MED_INC    28769 non-null float64
ST_PC_INC     28769 non-null float64
ST_L_GREV     28769 non-null float64
ST_IGR_ST     28769 non-null float64
ST_L_TAX      28769 non-null float64
ST_PT_REV     28769 non-null float64
ST_L_EXP      28769 non-null float64
ST_P_LEXP     28769 non-null float64
dtypes: float64(40), object(1)
memory usage: 9.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3198 entries, 0 to 3197
Columns: 13300 entries, Areaname to PVY820209D
dtypes: float64(13298), object(2)
memory usage: 324.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 663 entries, 0 to 662
Columns: 156 entries, YEAR to UH300_UH150
dtypes: float64(153), object(3)
memory usage: 813.2+ KB
None

From Dan's text, it sounds like we want the first DF (which contains selected variables from COStats and PUMS sets) and the third (which contains TEL-related variables).  Do all of these DFs have year and county variables?

In [11]:
for i,df in enumerate(df_list):
    print i,'|','YEAR' in df.columns
    print i,'|','STCOU' in df.columns

0 | True
0 | True
1 | False
1 | True
2 | True
2 | False

It would appear only the first does.  Can the third be effectively merged on FIPS codes?

In [12]:
print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR']].head()
print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR']].tail()

   FIPSST  FIPSCO  YEAR
0       1       3  1990
1       1       3  2000
2       1       3  2001
3       1       3  2002
4       1       3  2003
     FIPSST  FIPSCO  YEAR
658      56      21  2007
659      56      21  2008
660      56      21  2009
661      56      21  2010
662      56      21  2011

FIPS codes are available in the third set.  How are they formatted in the first?

In [13]:
print df_list[0][['YEAR','STCOU']].head()

   YEAR  STCOU
0  1990  00000
1  1990  01000
2  1990  01001
3  1990  01003
4  1990  01005

We can define a new variable in the third set that captures the zero padded versions of `FIPSST` and `FIPSCO` in one variable called `STCOU`.

In [14]:
#Define consolidated FIPS variable
df_list[2]['STCOU']=df_list[2]['FIPSST'].apply(lambda x: str(int(x)).zfill(2))+\
                    df_list[2]['FIPSCO'].apply(lambda x: str(int(x)).zfill(3))

print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR','STCOU']].head()
print df_list[2][[var for var in df_list[2].columns if 'fips' in var.lower()]+['YEAR','STCOU']].tail()

   FIPSST  FIPSCO  YEAR  STCOU
0       1       3  1990  01003
1       1       3  2000  01003
2       1       3  2001  01003
3       1       3  2002  01003
4       1       3  2003  01003
     FIPSST  FIPSCO  YEAR  STCOU
658      56      21  2007  56021
659      56      21  2008  56021
660      56      21  2009  56021
661      56      21  2010  56021
662      56      21  2011  56021

We want to join the third set to the first.

In [15]:
#Capture sets
first=df_list[0].set_index(['YEAR','STCOU'])
third=df_list[2].set_index(['YEAR','STCOU'])

#Sort indices
first.sortlevel(0,inplace=True)
third.sortlevel(0,inplace=True)

#Join sets together
data=first.join(third,rsuffix='_TEL')

data.head().T

YEAR                      1990
STCOU                    00000     01000     01001        01003     01005
POP_TH18          6.360443e+07   1058788     10098        25533      7464
POP_OV65          3.124183e+07    522989      3372        14879      3726
TOT_EMP           1.393809e+08   2061101     11471        40809     12163
MFG_EMP            1.96942e+07    396248      2350         5586      3698
RETL_EMP           2.28855e+07    321969      2163         8007      1577
T_PUB_SCH          4.07376e+07    728252      6847        17054      5156
PUB_SCHL          3.837969e+07    680875      6567        15507      4848
PVT_SCHL               4187099     57284       604         1761       466
HSLD_PERS                 2.63      2.62      2.88         2.62       2.7
HSG_UNITS         1.022637e+08   1670379     12732        50933     10705
CH_HS_UNT                 15.6      13.8      16.1         53.1      14.8
PRE_1940           1.88325e+07    155557       782         3050      1390
VACANT            1.031627e+07    163589       906        13889      1487
MDHOMEVAL                79100     53700     59200        64200     41400
MED_INC                  30056     23597     28337        25712     19389
PC_INC                   14420     11486     11182        12275      9515
LANDAREA               3536342  50750.23    596.01      1596.53       885
GEN_REV           4.115841e+08   4453189     29504        90613     21415
IGR_ST            1.368688e+08   1499474     13444        30831     12048
TAX_REV           1.582935e+08   1237460      7410        24425      5126
PT_REV            1.165025e+08    437295      1728        11424      1655
D_GEN_EXP         3.920146e+08   4307264     24741       100654     21178
PC_GEN_EXP                1618      1073       744         1080       844
RES_POP           2.487099e+08   4040587     34222        98280     25417
PERS_POVT         3.174286e+07    723614      5324        13947      6244
SS_PERS           3.890197e+07    708711      4775        18985      4590
SS_PMT            2.136416e+07    344812      2255         9624      1966
POVT_PCT              12.76301  17.90864  15.55724     14.19109  24.56624
FIPSST                       0         1         1            1         1
FIPSCO                       0         0         1            3         5
...                        ...       ...       ...          ...       ...
_62Health_Social           NaN       NaN       NaN         5674       NaN
_71Arts_Rec                NaN       NaN       NaN         1004       NaN
_72Hotel_Food              NaN       NaN       NaN         7508       NaN
_81OtherServices           NaN       NaN       NaN         2521       NaN
_99Unclassified            NaN       NaN       NaN           12       NaN
SCHENROL_2000              NaN       NaN       NaN        23681       NaN
PC_SCHENROL                NaN       NaN       NaN    0.1686501       NaN
Y20061                     NaN       NaN       NaN            1       NaN
M_P_TAX06                  NaN       NaN       NaN          396       NaN
M_V_OOH06                  NaN       NaN       NaN       167200       NaN
RATE06                     NaN       NaN       NaN  0.002368421       NaN
M_H_INC06                  NaN       NaN       NaN        49451       NaN
BURDEN06                   NaN       NaN       NaN  0.008007927       NaN
SUMLEV                     NaN       NaN       NaN           50       NaN
M_V_OOH99                  NaN       NaN       NaN       122500       NaN
M_H_INC99                  NaN       NaN       NaN        43965       NaN
M_P_TAX99                  NaN       NaN       NaN          359       NaN
BURDEN99                   NaN       NaN       NaN  0.008165586       NaN
RATE99                     NaN       NaN       NaN  0.002930612       NaN
CV_99BURDEN                NaN       NaN       NaN     17.86031       NaN
N_COUNTIES                 NaN       NaN       NaN           67       NaN
NAME                       NaN       NaN       NaN      Alabama       NaN
UH_70K                     NaN       NaN       NaN        0.519       NaN
UH_150K                    NaN       NaN       NaN        0.613       NaN
UH_300K                    NaN       NaN       NaN          NaN       NaN
UC_1M                      NaN       NaN       NaN         1.39       NaN
UI_1M                      NaN       NaN       NaN        1.112       NaN
UI_25M                     NaN       NaN       NaN          NaN       NaN
UH150_UH70                 NaN       NaN       NaN     1.181118       NaN
UH300_UH150                NaN       NaN       NaN          NaN       NaN

[194 rows x 5 columns]

In [16]:
print len(data.columns)
print sorted(data.columns)

194
[u'ACQ_ValAss', u'ASMT_L', u'ASMT_L2', u'ASMT_L3', u'Area', u'BOTH', u'BURDEN05', u'BURDEN06', u'BURDEN99', u'CB', u'CB_E', u'CB_E2', u'CB_E3', u'CB_E4', u'CB_G', u'CB_G2', u'CB_share', u'CFDISC_L', u'CGEXP_L', u'CH_HS_UNT', u'CLEVY_L', u'CLEVY_L2', u'CLEVY_L3', u'CLEVY_L4', u'CRATE_L', u'CRATE_L2', u'CREVU_L', u'CV_99BURDEN', u'County', u'D_GEN_EXP', u'Def', u'Density', u'Dillon_all', u'EAST', u'EDU_MAND', u'EmptoResPop', u'FFDISC_L', u'FIPSCO', u'FIPSCO_TEL', u'FIPSST', u'FIPSST_TEL', u'GEN_REV', u'GEXP_L', u'GL', u'GP_GEXP', u'GP_LEVY', u'GP_LMT', u'GP_RATE', u'GP_REVU', u'GST', u'HOME_STEAD', u'HOME_STEAD2', u'HOME_STEAD3', u'HSG_UNITS', u'HSLD_PERS', u'IGR', u'IGR_ST', u'IIT', u'LANDAREA', u'LEVY_L', u'LIMITS', u'LIT', u'LST', u'MDHOMEVAL', u'ME', u'MED_INC', u'MFDISC_L', u'MFG_EMP', u'MGEXP_L', u'MGEXP_L2', u'MIDDLE', u'MLEVY_L', u'MLEVY_L2', u'MLEVY_L3', u'MLEVY_L4', u'MRATE_L', u'MRATE_L2', u'MREVU_L', u'M_H_INC05', u'M_H_INC06', u'M_H_INC99', u'M_P_TAX05', u'M_P_TAX06', u'M_P_TAX99', u'M_VOOH05', u'M_V_OOH06', u'M_V_OOH99', u'MfgEmpto_TotEmp', u'NAME', u'NE', u'N_COUNTIES', u'P65__05', u'PC_GEN_EXP', u'PC_INC', u'PC_SCHENROL', u'PERS_POVT', u'PL', u'POP_OV65', u'POP_TH18', u'POVT_PCT', u'PRE_1940', u'PT_REV', u'PUB_SCHL', u'PVT_SCHL', u'Pop_05', u'Popgrow2000_05', u'RATE05', u'RATE06', u'RATE99', u'RATE_L', u'RATE_L2', u'RES_POP', u'RETL_EMP', u'REVU_L', u'RM', u'Rate_ch_05_06', u'RetWhoEmptoTotEmp', u'SCHENROL_2000', u'SC_LMT', u'SE', u'SFDISC_L', u'SGEXP_L', u'SGEXP_L2', u'SLEVY_L', u'SLEVY_L2', u'SLEVY_L3', u'SLEVY_L4', u'SOUTH', u'SOUTH_1', u'SPC_RATE', u'SPT', u'SRATE_L', u'SRATE_L2', u'SREVU_L', u'SS_PERS', u'SS_PMT', u'ST_IGR_ST', u'ST_L_EXP', u'ST_L_GREV', u'ST_L_TAX', u'ST_MED_H_V', u'ST_MED_INC', u'ST_PC_INC', u'ST_PT_REV', u'ST_P_LEXP', u'SUMLEV', u'SW', u'State', u'TAX_REV', u'TOT_EMP', u'TREND', u'TYPE1', u'TYPE2', u'TYPE2_Y', u'T_PUB_SCH', u'TnT', u'Tot_Emp', u'UC_1M', u'UC_UH150', u'UH150_UH70', u'UH300_UH150', u'UH300_UH70', u'UH_150K', u'UH_300K', u'UH_70K', u'UI_1M', u'UI_25M', u'UI_UH150', u'VACANT', u'VAM', u'VAM_POP', u'VAmanuf_2002', u'Y2006', u'Y20061', u'_11Forest_Fish', u'_21Mining', u'_22Utilities', u'_23Construction', u'_31Manuf', u'_42Wholesale', u'_44Retail', u'_48Trans_Wharehouse', u'_51Information', u'_52Fin_Insurance', u'_53RealEstate', u'_54_Prof_Sci_Tec', u'_55Managment', u'_56Adm_Support_Waste', u'_61Education', u'_62Health_Social', u'_71Arts_Rec', u'_72Hotel_Food', u'_81OtherServices', u'_99Unclassified']

Ok, let's write this to disk.

In [17]:
data.to_csv('../data/tel_data.csv')

## Data Checks

In [19]:
print third.head().T.to_string()

YEAR                            1990
STCOU                          01003                   02020          04001          05007           06001
FIPSST                             1                       2              4              5               6
RATE_L                             1                       0              1              0               1
RATE_L2                            1                       0              0              0               1
MRATE_L                            0                       1              0              0               0
CRATE_L                            0                       0              0              0               0
SRATE_L                            0                       0              0              0               0
SRATE_L2                           0                       0              0              0               0
MRATE_L2                           0                       0              0              0               0
CRATE_L2                           0                       0              0              0               0
MLEVY_L                            0                       1              1              0               0
CLEVY_L                            0                       0              1              0               0
CLEVY_L2                           0                       0              0              0               0
MLEVY_L2                           0                       0              0              0               0
MLEVY_L3                           0                       0              0              0               0
SLEVY_L                            0                       0              0              0               0
CLEVY_L3                           0                       0              0              0               0
CLEVY_L4                           0                       0              0              0               0
MLEVY_L4                           0                       0              0              0               0
SLEVY_L2                           0                       0              0              0               0
SLEVY_L3                           0                       0              0              0               0
SLEVY_L4                           0                       0              0              0               0
ASMT_L                             0                       0              1              0               1
ASMT_L2                            0                       0              0              0               0
ASMT_L3                            0                       0              0              0               0
CREVU_L                            0                       0              0              0               0
MREVU_L                            0                       0              0              0               0
SREVU_L                            0                       0              0              0               0
CGEXP_L                            0                       0              1              0               1
MGEXP_L                            0                       0              1              0               1
SGEXP_L                            0                       0              1              0               1
SGEXP_L2                           0                       0              0              0               0
MGEXP_L2                           0                       0              0              0               0
CFDISC_L                           0                       0              0              0               0
MFDISC_L                           0                       0              0              0               0
SFDISC_L                           0                       0              0              0               0
HOME_STEAD                         1                       1              1              0               1
HOME_STEAD2                        0                       0              0              0               0
HOME_STEAD3                        0                       0              0              0               0
CB_E                               0                       0              1              1               1
CB_G                               0                       0              0              0               0
CB_G2                              0                       0              0              0               0
CB_E2                              0                       0              0              0               0
CB_E3                              0                       0              0              0               0
CB_E4                              0                       0              0              0               0
FFDISC_L                           0                       0              0              0               0
TYPE1                              1                       1              0              0               0
TYPE2                              0                       1              1              0               1
BOTH                               0                       1              0              0               0
LIMITS                             1                       1              1              0               1
TYPE2_Y                            0                      19             17              0              13
SPC_RATE                           0                       1              0              0               0
LEVY_L                             0                       1              1              0               0
REVU_L                             0                       0              0              0               0
GEXP_L                             0                       0              1              0               1
GP_RATE                            0                       1              0              0               0
GP_LEVY                            0                       1              1              0               0
GP_REVU                            0                       0              0              0               0
GP_GEXP                            0                       0              1              0               1
GP_LMT                             0                       1              1              0               1
SC_LMT                             0                       0              1              0               1
TREND                             21                      21             21             21              21
County                Baldwin County  Anchorage Municipality  Apache County  Benton County  Alameda County
State                             AL                      AK             AZ             AR              CA
Y2006                              0                       0              0              0               0
Rate_ch_05_06            -0.02602011             -0.02881017      0.2304562     -0.1139106      0.05359898
M_P_TAX05                        356                    3084            126            821            3061
M_VOOH05                      146400                  230600          76600         140100          597700
RATE05                   0.002431694              0.01337381    0.001644909      0.0058601     0.005121298
M_H_INC05                      48671                   81621          24387          58649           84733
BURDEN05                 0.007314417              0.03778439    0.005166687     0.01399853      0.03612524
P65__05                        0.163                   0.063          0.099          0.125           0.105
Pop_05                        162749                  275474          69600         187381         1451065
ACQ_ValAss                         0                       0              0              0               1
Dillon_all                         0                       0              1              1               0
IGR                             0.34                   0.311          0.385          0.501           0.414
GST                            0.102                   0.054          0.088           0.11           0.045
IIT                            0.008                       0              0              0               0
CB_share                           0                       0              0              0               0
TnT                                0                       0              1              0               0
LST                                1                       1              1              1               1
LIT                                1                       0              0              1               0
SPT                                1                       1              1              1               1
CB                                 0                       0              1              0               1
Def                                0                       0              1              0               1
Area                            1596                    1697          11205            846             738
Popgrow2000_05             0.1578962              0.05670751   -0.001152356      0.2185834     0.003576819
Density                     101.9731                  162.33       6.211513       221.4905        1966.213
NE                                 0                       0              0              0               0
ME                                 0                       0              0              0               0
GL                                 0                       0              0              0               0
PL                                 0                       0              0              0               0
SE                                 1                       0              0              1               0
SW                                 0                       0              1              0               0
RM                                 0                       0              0              0               0
EAST                               0                       0              0              0               0
MIDDLE                             0                       0              0              0               0
SOUTH                              1                       0              1              1               0
SOUTH_1                            2                       1              2              2               1
VAM_POP                     3235.192                761.2046              0       7850.111        10096.42
VAM                           525997                  209364            NaN        1467484    1.462875e+07
VAmanuf_2002                  525997                     NaN            NaN            NaN             NaN
UH300_UH70                     1.094                       1              1          1.326           1.085
UC_UH150                    2.267537                 1.01057       3.819767              1               1
UI_UH150                    1.814029                1.032296       3.056977       1.046569       0.8001903
EDU_MAND                           0                       1              1              1               1
FIPSCO                             3                      20              1              7               1
EmptoResPop                0.2931495               0.4341721     0.08455071      0.4569215        0.431824
MfgEmpto_TotEmp            0.1173472              0.01369163     0.02976292      0.1414606       0.1249888
RetWhoEmptoTotEmp          0.2388486               0.1779242      0.2301723      0.1261824       0.1935839
Tot_Emp                        47662                  119416           5863          85416          625672
_11Forest_Fish                   227                      54            9.5           59.5           174.5
_21Mining                         30                    3409            9.5           59.5             247
_22Utilities                     277                     528            9.5            244          1749.5
_23Construction                 3397                    9917            215           3088           41421
_31Manuf                        5593                    1635          174.5          12083           78202
_42Wholesale                    1605                    5164           59.5           3180           52950
_44Retail                       9779                   16083           1290           7598           68170
_48Trans_Wharehouse              899                    9850             89          19381           29276
_51Information                  1470                    4711            149           3323           30761
_52Fin_Insurance                1344                    4713           59.5           1615           25470
_53RealEstate                   1667                    2495           59.5            771           12879
_54_Prof_Sci_Tec                1588                    8858            117           3391           51483
_55Managment                     166                    2269            9.5        17499.5           21210
_56Adm_Support_Waste            2508                    9153            109           3142           44664
_61Education                     393                    1598            417           1373           13428
_62Health_Social                5674                   18126           1731           5392           74416
_71Arts_Rec                     1004                    2432            9.5          376.5            8348
_72Hotel_Food                   7508                   12608           1107           4311           42866
_81OtherServices                2521                    5770            196           4177           27237
_99Unclassified                   12                      43            9.5           59.5           174.5
SCHENROL_2000                  23681                   52840          21858          27972          243375
PC_SCHENROL                0.1686501               0.2030098      0.3148524      0.1823397       0.1685725
Y20061                             1                       1              1              1               1
M_P_TAX06                        396                    3277            135            755            3490
M_V_OOH06                     167200                  252300          66700         145400          646800
RATE06                   0.002368421              0.01298851    0.002023988    0.005192572     0.005395795
M_H_INC06                      49451                   82012          26351          55672           88984
BURDEN06                 0.008007927              0.03995757    0.005123145     0.01356157      0.03922053
SUMLEV                            50                      50             50             50              50
M_V_OOH99                     122500                  160700          41700          94800          303100
M_H_INC99                      43965                   71772          22083          45266           75328
M_P_TAX99                        359                    2523            307            744            2153
BURDEN99                 0.008165586              0.03515298      0.0139021     0.01643618      0.02858167
RATE99                   0.002930612              0.01570006     0.00736211    0.007848101     0.007103266
CV_99BURDEN                 17.86031                25.55703       23.57924       19.84381        17.76581
N_COUNTIES                        67                      27             15             75              58
NAME                         Alabama                  Alaska        Arizona       Arkansas      California
UH_70K                         0.519                   1.703           0.86          1.224           1.051
UH_150K                        0.613                   1.703           0.86          1.224           1.051
UH_300K                          NaN                     NaN            NaN            NaN             NaN
UC_1M                           1.39                   1.721          3.285          1.224           1.051
UI_1M                          1.112                   1.758          2.629          1.281           0.841
UI_25M                           NaN                     NaN            NaN            NaN             NaN
UH150_UH70                  1.181118                       1              1              1               1
UH300_UH150                      NaN                     NaN            NaN            NaN             NaN

It would be useful to understand how we are impacting the universe of counties with this join (or future joins).  To aid in this effort, let's generate a coverage set.  The index will be the union of the indices from `first` and `third`.  The variables are just boolean values indicating that the data set in question contains a record for the year and county identified in the index.

In [32]:
#Capture union of indices
u_idx=list(set(first.index.values).union(set(third.index.values)))

#Generate county coverage dict
cty_cov=DataFrame({'covariates':[idx in first.index for idx in u_idx],
                   'tel':[idx in third.index for idx in u_idx]},
                  index=pd.MultiIndex.from_tuples(u_idx,names=['Year','FIPS'])).sortlevel(0)

print 'Number of year-counties represented in the COSTAT/PUMS set:',cty_cov['covariates'].sum()
print 'Number of year-counties represented in the institutional set:',cty_cov['tel'].sum()

#Write to disk
cty_cov.to_csv('../data/cty_coverage.csv')

cty_cov

Number of year-counties represented in the COSTAT/PUMS set: 28778
Number of year-counties represented in the institutional set: 663

           covariates    tel
Year FIPS
1990 00000       True  False
     01000       True  False
     01001       True  False
     01003       True   True
     01005       True  False
     01007       True  False
     01009       True  False
     01011       True  False
     01013       True  False
     01015       True  False
     01017       True  False
     01019       True  False
     01021       True  False
     01023       True  False
     01025       True  False
     01027       True  False
     01029       True  False
     01031       True  False
     01033       True  False
     01035       True  False
     01037       True  False
     01039       True  False
     01041       True  False
     01043       True  False
     01045       True  False
     01047       True  False
     01049       True  False
     01051       True  False
     01053       True  False
     01055       True  False
...               ...    ...
2011 55131       True  False
     55133       True  False
     55135       True  False
     55137       True  False
     55139       True  False
     55141       True  False
     56000       True  False
     56001       True  False
     56003       True  False
     56005       True  False
     56007       True  False
     56009       True  False
     56011       True  False
     56013       True  False
     56015       True  False
     56017       True  False
     56019       True  False
     56021       True   True
     56023       True  False
     56025       True  False
     56027       True  False
     56029       True  False
     56031       True  False
     56033       True  False
     56035       True  False
     56037       True  False
     56039       True  False
     56041       True  False
     56043       True  False
     56045       True  False

[28982 rows x 2 columns]

In [34]:
third.index

MultiIndex(levels=[[1990.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0], [u'01003', u'02020', u'04001', u'05007', u'06001', u'08001', u'09001', u'10001', u'11001', u'12001', u'13015', u'15001', u'16001', u'17001', u'18003', u'19013', u'20045', u'21015', u'22005', u'23001', u'24001', u'25001', u'26005', u'27003', u'28033', u'29019', u'30013', u'31055', u'32003', u'33005', u'34001', u'35001', u'36001', u'37001', u'38015', u'39003', u'40017', u'41003', u'42001', u'44003', u'45003', u'46099', u'47001', u'48005', u'49005', u'50007', u'51003', u'53005', u'54003', u'55009', u'56021']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, ...]],
           names=[u'YEAR', u'STCOU'])